<!DOCTYPE html>
{% extends 'login/base.html'%}
{% load static %}

{%block body_block %}
<div class="jumbotron">
  <h1 class="display-4">Effettua il Login</h1>
  <form action="{% url 'login:user_login'  %}" method="post">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="inserisci la tua username">

    <label for="password">Password</label>
    <input type="text" name="password" placeholder="inserisci la tua password">

    <input type="submit" name="SubmitLogin" value="Login">
  </form>
</div>

{% endblock %}